{% extends 'init/base.html' %}
{% load static %}
{% block title %}MyVideoGrapher:Home{% endblock %}
{% block content %} 
{% if not user.is_authenticated %}
    {% include 'init/gendralHome.html' %}
  {% else %}
      <div class="container mt-4">
        {% if user.role == 1 %}
        {% if not user.hadFilled %}
            <div class="card">
                <div class="card-body my-2">
                    <h3>Hey., You had registered successfully, Would you please had a moment to complete your Full details</h3><br>
                    <a href="{% url 'studioProfileInfo' %}" class="btn btn-outline-primary my-2">Complete now!</a>
                </div>
            </div>
        
          {% endif %}
        
        <div class="card w-25">
            <div class="card-body bg-secondary text-light">
              <h4 class="card-title">Add Your camera</h4>
              <hr>
              <p class="card-text">Add your owned camera's by using the below link</p>
              <a href="{% url 'addCam' %}" class="btn btn-primary">Add Here</a>
            </div>
          </div>
          
       <hr>
       <div class="mt-4" style="display:flex;flex-wrap: wrap;">
       {% for i in cam %}
       <div class="row">
       <div class="col" ></div>
       <div class="card col-md-10 shadow-lg mx-2 h-100">
        <img class="d-block w-100" height="200px" width="200px" src="{{ i.camPic.url }}">
        <div class="card-body">
          <h5 class="card-title">{{ i.camName }}</h5>
          <p class="card-text">{{ i.description }}</p>
          <div class="row">
            <a href="{% url 'camView' i.id %}" class="col mx-2 form-control btn btn-primary">View</a>
            <a href="{% url 'editCamdetails' i.id %}" class="col mx-2 form-control btn btn-primary">Edit</a>
          </div>
        </div>
      </div> 
    </div>   
      {% endfor %}
      </div>
      {% else %}
        {% include 'init/gendralHome.html' %}
    {% endif %}
      </div>


{% endif %}
    
{% endblock %}